{
  "password": "",
  "testUserEmailDomain": "",
  "verifiedUser": "",
  "unverifiedUser": "",
  "groupOwner": "",
  "groupInviteSentUser": "",
  "eventNotificationsUser": "",
  "noCommentsUser": "",
  "noPostsUser": "",
  "manyPostsUser": "",
  "manyCommentsUser": "",
  "manyLikesUser": "",
  "manyDislikesUser": "",
  "manyBookmarksUser": "",
  "manyFollowersUser": "",
  "manyFollowingUser": "",
  "manyNotificationsUser": "",
  "noFollowersUser": "",
  "noFollowingUser": "",
  "eventAttendeeUser": "",
  "manyEventAttendeesUser": "",
  "eventCreatorUser": "",
  "eventCancelledUser": "",
  "manyGroupMembershipsUser": "",
  "noGroupMembershipsUser": "",
  "groupAdminUser": "",
  "pendingInviteUser": "",
  "googleLoginUser": "",
  "withPendingEmailUser": "",
  "aFollowingUserBUser": "",
  "bFollowingUserAUser": "",
  "cAndDFollowingEachOtherUser": "",
  "noAvatarUser": "",
  "noBioUser": "",
  "fMemberOfGroupGUser": "",
  "hNotMemberOfGroupGUser": "",
  "iMemberOfGroupGUser": "",
  "gOwnerOfGroupUser": ""
}
